{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb(_('Devices'), '', 'phone-square', [_('edit'), resource.mac]) }}
{% endblock %}

{% block content %}
  {% call build_section_row() %}
    {% call build_form_box(_('Device'), resource.mac, 'compress') %}
      {% call build_form(action=url_for('.DeviceView:put', id=resource.id)) %}
        {% call add_default_fields(form=form, submit_value=_('Update')) %}
          {{ render_field(form.ip) }}
          {{ render_field(form.mac, readonly='readonly') }}
          {{ render_field(form.sn) }}
          {{ render_field(form.plugin, readonly='readonly') }}
          {{ render_field(form.model, readonly='readonly') }}
          {{ render_field(form.vendor, readonly='readonly') }}
          {{ render_field(form.version, readonly='readonly') }}
          {{ render_field(form.options.switchboard) }}
          {{ render_field(form.description) }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  {% endcall %}
{% endblock %}
